	head {

	}

	body{
		background-image: url("bg4.jpg");
		background-color: #cccccc
		background-position: center;

	}

	h2{

	}

	p{
		font-family:cursive; 
		border: 1px solid black;
		margin-top: 25px;
		margin-bottom: 25px;
		margin-right: 1100px;
		margin-left: 2px;
	}
	hr{
		margin-right: 1100px;
		margin-left: 2px;	
	}

	form{

		
		
	}

	

