	head {

	}

	body{
		height: 1000px;
		background: blue;
		background: linear-gradient(to bottom right, rgba(150, 205, 200, 0.8), rgb(15, 205, 200));
	}

	h2{

	}

	#word{
		font-family:verdana; 
		border: 1px solid black;
		margin-top: 25px;
		margin-bottom: 25px;
		margin-right: 1100px;
		margin-left: 2px;
	}

	#result{
		font-family: courier;
	}
	hr{
		margin-right: 1100px;
		margin-left: 2px;	
	}

	form{

		
		
	}

	

